.infinite-list-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.request-response-list {
  height: 500px;
  &__item {
    height: 60px;
    padding: 1px;
    &__inner {
      height: 58px;
      border: solid 1px #aaa;
      border-radius: 4px;
      padding: 2px 5px;
    }
    &--viewing &__inner {
      background: yellow;
    }
  }
}

.request-response-detail {
  background: #aaa;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}
